* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
}

#map {
    height: 100vh;
    width: 75vw;
}

.office-list {
    width: 25vw;
    height: 100vh;
    overflow: auto;
    background-color: whitesmoke;
}

.leaflet-popup-content-wrapper {
    min-width: 200px;
    max-width: 300px;
    padding: 0;
    overflow: hidden;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0;
}

.leaflet-popup-content-wrapper h4 {
    padding: 16px;
    background-color: #466799;
    color: white;
    font-size: 16px;
}

.leaflet-popup-content-wrapper p {
    padding: 0 16px;
    font-size: 14px;
    margin-bottom: 14px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number {
    padding: 0 16px 16px 16px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number a {
    color: #466799;
    font-size: 14px;
}

.office-list .heading {
    background-color: #466799;
    color: white;
}

.office-list .heading h2 {
    padding: 1rem;
}

.office-list ul.list {
    padding: 0 1rem;
    list-style-type: none;
}

.office-list .office-item {
    margin: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
}

.office-list li:last-child .office-item {
    border: none;
}

.office-list .office-item a {
    text-decoration: none;
    font-size: 18px;
    color: #466799;
    font-weight: 700;
}

.office-list .office-item p {
    font-size: 14px;
    color: #404040;
}